[submodule "crates/axmm_crates"]
	path = crates/axmm_crates
	url = git@github.com:AstranciA/axmm_crates.git
[submodule "crates/page_table_multiarch"]
	path = crates/page_table_multiarch
	url = git@github.com:AstranciA/page_table_multiarch.git

[submodule "crates/axfs_crates"]
	path = crates/axfs_crates
	url = git@github.com:AstranciA/axfs_crates.git
[submodule "crates/lwext4_rust"]
	path = crates/lwext4_rust
	url = git@github.com:MukioXun/lwext4_rust.git
[submodule "crates/fast-trap"]
	path = crates/fast-trap
	url = git@github.com:AstranciA/fast-trap.git
